@media (min-width: 320px) {

.border-normal {
    border: 10px solid #BC6B7C;
}
.border-fighting {
    border: 10px solid #F1613C;
}
.border-flying {
    border: 10px solid #4596a8;
}
.border-poison {
    border: 10px solid #A564E3;
}
.border-ground {
    border: 10px solid #895C1A ;
}
.border-rock {
    border: 10px solid #8D8D94;
}
.border-bug {
    border: 10px solid #3BB039;
}
.border-ghost {
    border: 10px solid #454AA8;
}
.border-steel {
    border: 10px solid #728881;
}
.border-fire {
    border: 10px solid #E35825;
}
.border-water {
    border: 10px solid #1479FB;
}
.border-grass {
    border: 10px solid #ABDAC6;
}
.border-electric {
    border: 10px solid #2B319B;
}
.border-psychic {
    border: 10px solid #C23867;
}
.border-ice {
    border: 10px solid #64CBF5;
}
.border-dragon {
    border: 10px solid #56A4AE;
}
.border-dark {
    border: 10px solid #0D1211;
}
.border-fairy {
    border: 10px solid #bced60;
}
.border-unknown {
    border: 10px solid #6fbbc1;
}
.border-shadow {
    border: 10px solid #676b71;
}
.border-unknown {
    border: 10px solid #6fbbc1;
}
    
};
