
@media (min-width: 320px) {
    .header-pokedex {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .header-img {
        position: absolute;
        top: 5px;
        width: 70%;
    }
    .header-img img {
        width: 100%;
    }
    .header-img2 {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 40px;
        height: 300px;
        overflow: hidden;
    }
    .header-title {
        text-align: center;
    }
    .header-title h1 {
        font-size: 45px;
        color: rgb(108, 186, 177);
        font-weight: 700;
    }
    .header-title p {
        color: rgb(181, 181, 188);
    }
    .header-form {
        display: flex;
        gap: 10px;
        
    }
    .form-input {
        border: 0.5px solid rgb(14, 118, 101);
        border-radius: 5px;
        height: 30px;
    }
    .form-button {
        background-color: rgb(108, 186, 177);
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        color: white;
    }
    .form-button--error {
        text-align: center;
        color: rgb(191, 90, 129);
        width: 60%;
    }
}

