@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  min-height: 100vh;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}

.float {
  animation: float-animation 2.5s infinite ease-in-out;
}

@keyframes float-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
}
