@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--bg-color);
}
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
:root {
  --bg-color: #121212;
  --card-color: #2E2C2D;
  --card-color-g:#2E2C2D;
  --head-color: #205F9B;
  --text-color: white;
  --subtext-color: #C6C8DA;
}
.dark__mode {
  --bg-color: #F6F6F6;
  --card-color: white;
  --card-color-g:white;
  --text-color: black;
  --subtext-color: #747579;
}
* {
  transition: ease-in-out .3s;
  transition-property: background-color;
}

