@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  min-height: 100vh;
  /* background: linear-gradient(89.52deg,rgba(4, 14, 162, 0.633),rgba(202, 35, 168, 0.6)); */
}
body {
  font-family: 'Josefin Sans', sans-serif;
}

.float {
  animation: float-animation 2.5s infinite ease-in-out;
}

@keyframes float-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
}
