@media (min-width: 320px) {

    .color-normal {
        color: #929ba0;
    }
    .color-fighting {
        color: #ce3f6a;
    }
    .color-flying {
        color: #93aade;
    }
    .color-poison {
        color: #a564e3;
    }
    .color-ground {
        color: #d87846;
    }
    .color-rock {
        color: #C8B78B;
    }
    .color-bug {
        color: #90c030;
    }
    .color-ghost {
        color: #526aa6;
    }
    .color-steel {
        color: #5B8E9F;
    }
    .color-fire {
        color: #fe9c53;
    }
    .color-water {
        color: #4b91d6;
    }
    .color-grass {
        color: #64bb5a;
    }
    .color-electric {
        color: #f4d23b;
    }
    .color-psychic {
        color: #fc6f78;
    }
    .color-ice {
        color: #73cebf;
    }
    .color-dragon {
        color: #066fc2;
    }
    .color-dark {
        color: #5A5365;
    }
    .color-fairy {
        color: #eb91e9;
    }
    .color-unknown {
        color: #6fbbc1;
    }
    .color-shadow {
        color: #676b71;
    }
}
    
    